{% extends "blog/base.html" %}



<div class="container my-5 py-5">
        {% block heading %}
        <h1 class="display-4 py-2 text-center">Create New Post</h1>
        {% endblock %}
        {% block content %}
       <div class="content-section">
           <form method="POST" >
               {% csrf_token %}
               <fieldset class="form-group">
                   <legend class="border-bottom mb-4 text-center">
                       Delete Post
                       <h2>Are  You sure, You want to  delet the post "{{ object.title }}"</h2>
                   </legend>


               </fieldset>
               <div class="form-group">
                   <button class="btn btn-outline-danger" type="submit">
                       Yes,Delete
                   </button>
                    <a class="btn btn-outline-secondary" href ="{% url 'post-detail' object.id %}">
                       Cancel
                   </a>
               </div>
           </form>
       </div>
        {% endblock %}

</div>
